.footer{
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  width: 1317px;
  height: 48px;
  margin-top: 60px;
  flex-wrap: wrap;
}
.footer-button{
  font-size: 14px;
  text-decoration: none;
  margin: 4px;
  margin-left: 12px;
  color: rgb(109, 108, 108);
}
.footer-button:hover{
  text-decoration: underline;
}